In [2]:
import pandas as pd

In [7]:
alien_data = pd.read_csv("data/alien_data.csv", delimiter=",")

NameError: name 'delimiter' is not defined

In [6]:
alien_data

     ,state_long,state_short,city_state,mj_legal,lat,long,sighting_date,short_description
0     0,Washington,WA,Aberdeen WA,Yes,46.9768,-123.8...
1     1,Texas,TX,Abilene TX,No,32.4543,-99.7384,5/30...
2     2,Texas,TX,Abilene TX,No,32.4543,-99.7384,7/11...
3     3,Texas,TX,Abilene TX,No,32.4543,-99.7384,9/16...
4     4,Texas,TX,Abilene TX,No,32.4543,-99.7384,10/6...
...                                                 ...
3247  3247,Arizona,AZ,Yuma AZ,Yes,32.599000000000004...
3248  3248,Michigan,MI,Zeeland MI,Yes,42.8139,-86.01...
3249  3249,Michigan,MI,Zeeland MI,Yes,42.8139,-86.01...
3250  3250,Florida,FL,Zephyrhills FL,Yes,28.2404,-82...
3251  3251,Florida,FL,Zephyrhills FL,Yes,28.2404,-82...

[3252 rows x 1 columns]